{% extends "_layout.html" %}
{% set active_page = 'about' %}

{% block title %}{# TRANSLATORS: Page title #}{% trans %}About Taguette, the free and opensource qualitative data analysis tool{% endtrans %}{% endblock %}

{% block contents %}
<div id="container-body">

  <h1>About <span style="font-family: BadScript;">TAGUETTE</span></h1>

  <p>A spin on the phrase "tag it!", <a href="https://www.taguette.org/">Taguette</a> is a free and open source qualitative research tool (which works on all operating systems!) that allows users to:</p>

  <ul>
    <li>Import PDFs, Word Docs (.docx), Text files (.txt), HTML, EPUB, MOBI, Open Documents (.odt), and Rich Text Files (.rtf).</li>
    <li>Highlight words, sentences, or paragraphs and tag them with the codes *you* create.</li>
    <li>Work collaboratively with other users (if <a href="self-host.html">self-hosting</a> or using <a href="https://app.taguette.org">app.taguette.org</a>).</li>
    <li>Export tagged documents, highlights for a specific tag, highlights for all tags, and a list of tags with their descriptions.</li>
  </ul>

  <p>...and much more! You can view our development queue on GitLab here: <a href="https://gitlab.com/remram44/taguette/-/issues">https://gitlab.com/remram44/taguette/-/issues</a>. You can always add feature requests, bug reports, or general feedback via GitLab issues. If you are not sure how to do that, feel free to email us your feedback at <a href="mailto:hi@taguette.org">hi@taguette.org</a>.</p>

  <p>If you use Taguette for your research, please cite it with the following:</p>

  <p class="small text-right">Rémi Rampin, Vicky Rampin, &amp; Sarah DeMott. (2020, August 26). Taguette (Version 0.9.2). Zenodo. <a href="https://doi.org/10.5281/zenodo.4002742">https://doi.org/10.5281/zenodo.4002742</a></p>

  <h2>Why did we make Taguette?</h2>

  <p>Qualitative methods generate rich, detailed research materials that leave individuals’ perspectives intact  as well as provide multiple contexts for understanding phenomenon under study. Qualitative methods are used by a wide range of fields, such as anthropology, education, nursing, psychology, sociology, and marketing. Qualitative data has a similarly wide range: observations, interviews, documents, audiovisual materials, and more.</p>

  <p>However - the software options for qualitative researchers are either <strong>far too expensive</strong>, don't allow for the seminal method of highlighting and tagging materials, <em>or actually perform quantitative analysis</em>, just on text.</p>

  <p><strong>It's not right or fair that qualitative researchers without massive research funds cannot afford the basic software to do their research.</strong></p>

  <p>So, to bolster a fair and equitable entry into qualitative methods, we've made Taguette!</p>

  <h2 id="team">The Team</h2>

  <p>Taguette was developed by Rémi Rampin. Vicky Rampin and Sarah DeMott provided the functional requirements, user needs, and testing in order to influence the development process.</p>

  <div class="table-responsive-lg">
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td><a href="https://remi.rampin.org"><img src="imgs/remi.jpg" width="150" height="150" alt="Remi Rampin"/><br/>Rémi Rampin</a><br/>Main Dev</td>
        <td><a href="https://vicky.rampin.org"><img src="imgs/vicky.jpg" width="150" height="150" alt="Vicky Rampin"/><br/>Vicky Rampin</a><br/>Product Manager</td>
        <td><a href="https://library.harvard.edu/staff/sarah-demott"><img src="imgs/sarah.jpg" width="150" height="150" alt="Sarah DeMott"/><br/>Sarah DeMott</a><br/>Trainer &amp; User Liaison</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
{% endblock %}
