{% extends "_layout.html" %}
{% set active_page = 'home' %}

{% block title %}{# TRANSLATORS: Page title #}{% trans %}Taguette{% endtrans %}{% endblock%}

{% block contents %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3" style="font-family: BadScript;"><span style="color:blue;">TAG</span><span style="color:gray;">UE</span><span style="color:red;">TTE</span><img src="imgs/taguette.png" alt="baguette highlighting document" style="padding-left:0.5em;"></h1>
    <h3>FEEDING YOUR QUALITATIVE NEEDS</h3>
    <hr class="my-4"/>
    <p>Have you ever searched "free qualitative research software" only to be disappointed that nothing lets you tag your materials? Search no more! Taguette is a <strong>free and open source</strong> tool for qualitative research. You can import your research materials, highlight and tag quotes, and export the results!</p>
    <p><a class="btn btn-primary btn-lg" href="about.html" role="button">Learn more &raquo;</a> <a class="btn btn-info btn-lg" href="https://app.taguette.org" role="button">Try out Taguette on our server <i class="fas fa-external-link-alt"></i></a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Work Locally</h2>
      <p>Taguette works both on your local computer (macOS, Windows, Linux) and on a server. When running Taguette locally, <strong>your data is as secure as your computer</strong>. That means that if you can have your data on your computer, you can run Taguette with no worries.</p>
      <p><a class="btn btn-secondary" href="install.html" role="button">Install now &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Highlight &amp; Tag</h2>
      <p>Taguette allows you to upload your research materials and tag them, just as you would use different color highlighters with printed paper. You can add new tags, then just select some text, click 'new highlight', and add whatever tag you find to be most relevant!</p>
      <p><a class="btn btn-secondary" href="getting-started.html#highlight" role="button">Get started &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Export Results</h2>
      <p>After you've done your work highlighting materials in Taguette, you can export in a variety of ways -- your codebook, all your highlighted quotes (or ones for a specific tag!), and highlighted documents. It's a good practice to keep an archival copy of your work!</p>
      <p><a class="btn btn-secondary" href="getting-started.html#export" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
{% endblock %}
