[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
sqlalchemy = "*"
bcrypt = "*"
"jinja2" = "*"
"beautifulsoup4" = "*"
bleach = "*"

[dev-packages]

[requires]
python_version = "3.6"
