[tool.poetry]
name = "taguette"
version = "0.11"
description = "Document tagger for qualitative analysis"

license = "BSD-3-Clause"

authors = [
    "Remi Rampin <remirampin@gmail.com>",
]

readme = "README.rst"

repository = "https://gitlab.com/remram44/taguette"
homepage = "https://www.taguette.org/"

keywords = ["qualitative", "document", "text", "tagging", "tags", "highlights", "notes"]

classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: JavaScript",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Topic :: Scientific/Engineering :: Visualization",
    "Topic :: Text Processing",
]

include = [
    "CHANGELOG.md", "tests.py", "CITATION.txt", # LICENSE.txt README.rst
    "taguette/static/missing.png", "taguette/static/favicon.png",
    "taguette/static/css/*.css", "taguette/static/*.css.map",
    "taguette/static/js/*.js", "taguette/static/js/*.js.map",
    "taguette/static/webfonts/*", "taguette/templates/*.html",
    "taguette/migrations/env.py", "taguette/migrations/script.py.mako",
    "taguette/migrations/versions/*.py", "taguette/l10n/*/*/*.mo",
]

# When updating dependencies: update 'translation' stage in Dockerfile

[tool.poetry.dependencies]
python = "^3.5.3"
tornado = ">=6.1"
sqlalchemy = "~1"
alembic = "*"
jinja2 = "*"
beautifulsoup4 = "*"
html5lib = "~1"
bleach = "~3"
XlsxWriter = "~1.4"
prometheus_client = "*"
prometheus-async = "*"
sentry-sdk = "*"

[tool.poetry.dev-dependencies]
coverage = "*"
flake8 = "*"
readme_renderer = "*"
babel = "^2.6" # Keep babel and pytz in sync with Dockerfile
bcrypt = "*"
aiohttp = "^3.4"

[tool.poetry.scripts]
taguette = "taguette.main:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
