/* Some space before content */
.container-body {
  padding-top: 1em;
}

/* Border for the tab container */
.tab-content {
  border-style: solid;
  border-width: 1px;
  border-color: #fff #dee2e6 #dee2e6 #dee2e6;
  padding: 0.4em;
}

/* Don't show the resize control on textareas */
textarea.form-control {
  resize: none;
}

/* Work-around to make a whole element clickable while it contains links */
.overlay-outer {
  position: relative;
}
.overlay-bottom {
  position: absolute;
  left: 0; top: 0; bottom: 0; right: 0;
}
.overlay-top {
  position: relative;
  pointer-events: none;
  z-index: 1;
}
.overlay-top a {
  pointer-events: all;
}

.document-view {
  border: 2px solid #dee2e6;
  padding: 1em 0.3em;
  position: relative;
}

.backlight {
  color: #bbb;
}

.document-view .document-link {
  position: absolute;
  top: .1em;
  right: .5em;
}

#document-view .highlight {
  background-color: #ff0;
  color: black;
}

#hlinfo {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid grey;
  padding: 0.2em;
}

.list-group .sublist {
  padding-left: 0;
  margin-top: 5px;
  margin-right: -20px;
  margin-left: 5px;
  margin-bottom: -12px;
  border-top: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
}

.list-group .sublist li {
  padding: 12px 20px;
}

.expand-marker {
  width: 7px;
}

.highlight-entry {
  border: 1px solid rgba(0,0,0,.125);
  margin: 1rem 0;
  padding: 1rem 0.6rem 1rem 0.6rem;
}
