<div class="modal" id="highlight-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form id="highlight-add-form" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "modal window title" %}Highlight{% endtrans %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="highlight-add-id"/>
                <input type="hidden" id="highlight-add-start"/>
                <input type="hidden" id="highlight-add-end"/>
                <div class="container mb-3 mt-3">
                    Search tags: <input id="highlight-search"/>
                </div>
                <div class="container mb-3 mt-3">
                    <div id="treeview-tags-highlight"></div>
                </div>
                <div class="container mb-3 mt-3">
                    <a href="javascript:createTag(true)">{% trans %}Create a tag{% endtrans
                        %}</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">{% trans %}Save & Close{% endtrans %}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="highlight-delete">{% trans
                    %}Delete highlight{% endtrans %}
                </button>
            </div>
        </form>
    </div>
</div>