<!-- Add/change tag modal -->
<div class="modal" id="tag-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form id="tag-add-form" class="modal-content">
            <div class="modal-header">
                <h5 id="tag-add-label-new" class="modal-title">{% trans "modal window title" %}New tag{% endtrans
                    %}</h5>
                <h5 id="tag-add-label-change" class="modal-title" style="display: none;">{% trans "modal window title"
                    %}Change tag{% endtrans %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body.no-scroll">
                <input type="hidden" id="tag-add-id"/>
                <div class="container mb-3 mt-3 row">
                    <div class="form-group">
                        <label for="tag-hierarchy-select" class="form-label">{% trans "tag change form placeholder" %}Tag parent{% endtrans %}</label>
                        <div class='dropdown hierarchy-select' id='tag-hierarchy-select'>
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                    id="dropdownMenuButtonTag" data-bs-toggle="dropdown"
                                    aria-expanded="false"></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonTag">
                                <div class="hs-searchbox">
                                    <input type="text" class="form-control" autocomplete="off">
                                </div>
                                <div class='hs-menu-inner'>
                                </div>
                            </ul>
                            <input class="d-none" id="tag-add-parent-id" name="tag-add-parent-id" readonly="readonly" aria-hidden="true"
                                   type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tag-add-path" class="form-label">{% trans "tag change form placeholder" %}Name{% endtrans %}</label>
                        <input type="text"  class="form-control" id="tag-add-path" name="tag-add-path"
                               placeholder="{% trans "tag change form placeholder" %}Name{% endtrans %}" required />
                    </div>
                    <div class="form-group">
                        <label for="tag-add-description" class="form-label">{% trans " tag change form placeholder" %}Description{% endtrans
                            %}</label>
                        <textarea class="form-control" id="tag-add-description" name="tag-add-description"
                                  placeholder="{% trans " tag change form placeholder" %}Description{% endtrans
                        %}"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" id="tag-add-merge">{% trans "button
                    in tag change modal window" %}Merge...{% endtrans %}
                </button>
                <button type="submit" class="btn btn-primary">{% trans %}Save & Close{% endtrans %}</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="tag-add-cancel">{% trans
                    %}Cancel{% endtrans %}
                </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="tag-add-delete">{% trans
                    %}Delete tag{% endtrans %}
                </button>
            </div>
        </form>
    </div>
</div>