<!-- Merge tags modal -->
<div class="modal fade" id="tag-merge-modal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form id="tag-merge-form" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "modal window title" %}Merge tags{% endtrans %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body.no-scroll">
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-md-5 form-group">
                            <input type="hidden" id="tag-merge-src-id"/>
                            <input type="text" class="form-control" id="tag-merge-src-name" disabled/>
                        </div>
                        <div class="col-md-2 form-group">
                            <label for="tag-hierarchy-merge-select">into</label>
                        </div>
                        <div class="col-md-5 form-group">
                            <div class='dropdown hierarchy-select' id='tag-hierarchy-merge-select'>
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButtonTagMerge" data-bs-toggle="dropdown"
                                        aria-expanded="false"></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonTagMerge">
                                    <div class="hs-searchbox">
                                        <input type="text" class="form-control" autocomplete="off">
                                    </div>
                                    <div class='hs-menu-inner' data-test-id="hs-menu-inner-tag-merge">
                                    </div>
                                </ul>
                                <input class="d-none" id="tag-merge-dest" name="tag-merge-dest" readonly="readonly"
                                       aria-hidden="true"
                                       type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-test-id="merge-tag-button">Merge tags</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-test-id="cancel-merge-tag-button">Cancel</button>
            </div>
        </form>
    </div>
</div>