{% extends "base.html" %}

{% block title %}{% trans "page title" %}Import codebook{% endtrans %} | Taguette{% endblock %}

{% block contents %}
<h1>{% trans "title" %}Import a codebook{% endtrans %}</h1>
<p>{% trans %}Use this form to import an existing codebook into your project. Existing tags will not be deleted, new tags will be added alongside them.{% endtrans %}</p>
<p>{% trans %}The file should have a column for the tag names, called 'name' or 'tag' or 'path'. It can also optionally have a column called 'description'. Other columns are ignored.{% endtrans %}</p>
{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
<form action="{{ reverse_url('import_codebook', project.id) }}" method="post" enctype='multipart/form-data'>
  {{ xsrf_form_html() }}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">{% trans "form label for project name (readonly)" %}Project:{% endtrans %}</label>
    <div class="col-sm-10">
      <span class="form-control" style="font-family: monospace, monospace;">{{ project.name }}</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="file" class="col-sm-2 col-form-label">{% trans "form label for codebook file" %}File:{% endtrans %}</label>
    <div class="col-sm-10">
      <input type="file" class="form-control-file" name="file" id="file" accept="text/csv,.csv" />
      <small>{% trans %}Accepted format: CSV{% endtrans %}</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
      <input type="submit" class="btn btn-primary" value="{% trans "form submit button" %}Review{% endtrans %}" />
      <a href="{{ reverse_url('project', project.id) }}" class="btn btn-secondary">{% trans "cancel button" %}Go back{% endtrans %}</a>
    </div>
  </div>
</form>
{% endblock %}
