{% extends "base.html" %}

{% block contents %}
{% if message %}
<div class="alert alert-secondary">{{ message }}</div>
{% endif %}
{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<p>If you had set an email address in your profile, you can enter it below and a link to reset your password will be sent to you.</p>
<form action="{{ reverse_url('reset_password') }}" method="post">
  {{ xsrf_form_html() }}
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="email" name="email" />
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </div>
</form>
<p>If you didn't set an email address, you can try contacting your server administrator.</p>
{% endblock %}
