{% extends "base.html" %}
{% set active_page = "tos" %}

{% block contents %}
  
<h2>Terms of Service</h2>

<h3>Acceptances of Terms</h3>
<p><strong>"We develop Taguette and run a hosted version of Taguette for free and you’re agreeing to these terms when you use that hosted service."</strong></p>

<p>The Taguette Team ("us", "our", "we") provides the information on the hosted version of Taguette (<a href="https://app.taguette.org/tos">app.taguette.org</a>, "the App") as provided in these Terms of Service ("TOS"). We may update the TOS at <a href="https://app.taguette.org/tos">https://app.taguette.org/tos</a>. The information on this site and your use of it is subject to the most recent version of the TOS posted.</p>

<h3>Description of Service</h3>
<p><strong>"You and your collaborators have access to Taguette, which will be backed up, and we can change this agreement if needed."</strong></p>

<p>We will provide you with access to the App. New features that augment or enhance the current version of the App shall be subject to the TOS. We will store your data and present it to you and the people you may add as collaborators on your projects. We will backup all data on the App daily to Amazon Web Services, in encrypted form only.</p>

<h3>Disclaimer of Warranties</h3>
<p><strong>"We will do our best not to lose your data, and we intend to keep this service around for the forseeable future, but we cannot guarantee that we won't introduce a bug, run out of money, misconfigure something, etc."</strong></p>

<p>Relying on this App is at your own risk. You expressly understand and agree that: your use of the App is at your sole risk. The App is provided on an "as is" and "as available" basis. We expressly disclaim all warranties of any kind, whether express or implied. We make no warranty that the App will meet your requirements and that service will be uninterrupted, timely, secure, or error-free.</p>

<h3>Privacy Policy</h3>
<p><strong>"We're not going to sell your data or track you."</strong></p>

<p>We will not share or sell any personal information you provide on the App. We will not use it for any purpose except to log you in (e.g. your username and password) and send you a password reset link (e.g. an email address, which you can provide on the App optionally).</p>
       
<p>We do not use any trackers on the App, such as Google Analytics or AdSense. We do set one "cookie" when users login to the App -- this is not a "tracking cookie," it is Tornado's xsrf_cookies, which is set when a user first views the login form. It generates a random value for each user. We only use this to allow users to login to the App.</p>

<h3>Conduct</h3>
<p><strong>"Only upload/transmit materials that you have the rights to."</strong></p>

<p>You understand that all information, data, and/or other materials ("Content") are the sole responsibility of the person from whom such Content originated. This means that you, and not us, are entirely responsible for all Content that you upload or otherwise make available via the App. We do not control the Content posted via the App and under no circumstances will we be liable in any way for any Content.</p>

<h3>Termination</h3>
<p><strong>"If you want to cancel this agreement, just close your account. We can cancel it too."</strong></p>

<p>You agree that we may terminate your access to the App for violations of the TOS.</p>

<p>Users can remove their data at any time as well as delete their account at any time. Given that we backup data from the App daily, your data and account information will be in the App's backups for a short period. We will not share any of your data hosted on the App with anyone else.</p>

<h3>Limitation of Liability</h3>
<p><strong>"We aren't liable for what you do on the App, you are."</strong></p>

<p>You expressly understand and agree that we shall not be liable to you for any direct, indirect, incidental, special, consequential or exemplary damages, including, but not limited to, damages for goodwill, use, data or other intangible losses resulting from the use or the inability to use the App.</p>
 
{% endblock %}