{% extends "base.html" %}
{% set active_page = "index" %}

{% block contents %}
{% comment <div class="row"> %}
<h1>Welcome {{ user.login }}</h1>
<p>Here are your projects:</p>
<ul>
{% if projects %}
{% for project in projects %}
  <li><a href="{{ reverse_url('project', project.id) }}">{{ project.name }}</a></li>
{% end %}
{% else %}
  <li style="font-style: oblique;">You have no projects yet.</li>
{% end %}
  <li style="font-weight: bold;"><a href="{{ reverse_url('new_project') }}">Create a project</a></li>
</ul>
</div>
{% end %}
